<h1 mat-dialog-title>{{skillAction}} Skill</h1>

<div mat-dialog-content>
    <form [formGroup]="skillForm">
        <mat-form-field appearance="outline">
            <mat-label>Skill</mat-label>
            <input formControlName="skill" matInput placeholder="What is the skill?">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Skill Description</mat-label>
            <textarea formControlName="skillDescription" matInput></textarea>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" style="margin-left: 8px" (click)="addSkill()">{{actionBtn}}</button>
</div>
